<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">


    <div class="container-fluid footer-bottom px-0">

        <!--begin row -->
        <div class="row no-gutters mx-0">

            <!--begin col-md-12 -->
            <div class="col-md-12 text-center">

                <footer style="margin-top:0%;">
                    <!-- this is footer -->
                    &copy; 2017 Afro-Industrial-Space
                    <span class="template-name" sec:authorize="isAuthenticated()">
                        | Logged planner: <span sec:authentication="name"></span> |
                        Roles: <span sec:authentication="principal.authorities"></span> |
                        <a th:href="@{/logout}">Sign Out</a>
                    </span>



                    <script type="text/javascript" th:src="@{/js/sweetalert2.all.min.js}"></script>

                    <!-- Load JS here for greater good =============================-->
                    <script  th:src="@{/js/jquery-3.3.1.min.js}"></script>
                    <script  th:src="@{/js/bootstrap.min.js}"></script>
                    <script  th:src="@{/js/popper.js}"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>

                    <script  th:src="@{/js/jquery.scrollTo-min.js}"></script>
                    <script  th:src="@{/js/jquery.magnific-popup.min.js}"></script>
                    <script  th:src="@{/js/jquery.nav.js}"></script>
                    <script  th:src="@{/js/wow.js}"></script>
                    <script  th:src="@{/js/plugins.js}"></script>
                    <script  th:src="@{/js/custom.js}"></script>

                    <script type="text/javascript" th:src="@{/js/jquery.dataTables.js}"></script>

                    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js}"></script>

                    <script th:inline="javascript">
                        WebFont.load({
                            google: {families: ['Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i']},
                            active: function () {
                                sessionStorage.fonts = true;
                            }
                        });
                    </script>

                    <script type="text/javascript" th:src="@{/js/admin-tables.main.js}"></script>
                    <script type="text/javascript" th:src="@{/js/planner-form.js}"></script>


                </footer>

            </div>
            <!--end col-md-6 -->

        </div>
        <!--end row -->

    </div>

</div>
</body>
</html>