<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:fragment="header-css">

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>


        <!-- START GLOBAL MANDATORY STYLE
        <link href="../../css/base.css" th:href="@{/css/base.css}" rel="stylesheet" type="text/css"/>
         START THEME LAYOUT STYLE -->



        <!-- Loading Template CSS -->
        <link href="../../css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
        <link href="../../css/animate.css" rel="stylesheet" th:href="@{/css/animate.css}"/>
        <link rel="stylesheet" href="../../css/pe-icon-7-stroke.css" th:href="@{/css/pe-icon-7-stroke.css}"/>
        <link href="css/style-magnific-popup.css" rel="stylesheet"/>

        <!-- Awsome Fonts (Make sure to update base.css to add webfont path)-->
        <link rel="stylesheet" href="css/all.min.css" th:href="@{/css/all.min.css}"/>

        <!-- Font Favicon -->
        <link rel="shortcut icon" href="images/favicon.ico"/>


        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" href="../../css/metisMenu.min.css" th:href="@{/css/metisMenu.min.css}" />

        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" href="../../css/animsition.min.css" th:href="@{/css/animsition.min.css}" />

        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" href="../../css/lobipanel.min.css" th:href="@{/css/lobipanel.min.css}" />

        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" href="../../css/materia_icons.css" th:href="@{/css/materia_icons.css}" />

        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" href="../../css/themify-icons.css" th:href="@{/css/themify-icons.css}" />

        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />

        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" href="../../css/pe-icon-7-stroke.min.css" th:href="@{/css/pe-icon-7-stroke.min.css}" />

        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" href="../../css/component_ui.css" th:href="@{/css/component_ui.css}" />

        <link href="../../css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" type="text/css"/>

        <!-- <link rel="stylesheet" th:href="@{/css/main.css}"
             href="../../css/main.css" /> -->

        <link rel="stylesheet" th:href="@{/css/jquery.dataTables.css}" href="../../css/jquery.dataTables.css" />
        <!-- <script th:src="@{https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js}"></script> -->

        <link rel="stylesheet" th:href="@{/css/jquery.dataTables.css}" href="../../css/Chart.css" />
        <link rel="stylesheet" th:href="@{/css/login-home.css}" href="../../css/Chart.css" />


        <style>
          #tooltip {
            background-color: #333;
            color: white;
            padding: 5px 10px;
            border-radius: 4px;
            font-size: 13px;
          }
        </style>

    </div>
</head>

<body background="/img/images.jpeg">

<div th:fragment="header">

    <!--begin header -->
    <header class="header" >



        <!--begin navbar-fixed-top -->
        <nav class="navbar navbar-default navbar-fixed-top">

            <div class="col-md-12" style="margin-left: 86%;margin-bottom: -7%;">
                <div class="col-md-1"  sec:authorize="isAuthenticated()">
                    <span >
                        <a th:href="@{/logout}" id="btn_user_profile_link" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                             &nbsp;
                            <i class="fas fa-user-circle fa-3x" aria-hidden="true" style="color: #91b327;">

                            </i>
                        </a>

                    </span>
                </div>
                &nbsp;

                <div class="col-md-1"  sec:authorize="isAuthenticated()">
                    <span >
                        <a th:href="@{/logout}" id="btn_power_off_link" data-toggle="tooltip" data-placement="bottom" title="Logout">
                            &nbsp;
                            <i class="fas fa-power-off fa-3x" aria-hidden="true" style="color: #91b327;">

                            </i>
                        </a>
                    </span>
                </div>
                &nbsp;

            </div>

            <!--begin container -->
            <div class="container">

                <!--begin navbar -->
                <nav class="navbar navbar-expand-lg">

                    <!--begin logo -->
                    <a th:href="@{/home}" sec:authorize="!isAuthenticated()" data-toggle="tooltip" data-placement="bottom" title="Go To Home" class="navbar-brand" style="margin-top: -1%;"> <!-- Logo -->
                        Afro-Industrial-Space
                    </a>
                    <!--end logo -->

                    <!--begin logo -->
                    <a th:href="@{/loggedIn-home}" sec:authorize="isAuthenticated()" class="navbar-brand" data-toggle="tooltip" data-placement="bottom" title="Go To Social Platform" style="margin-top: -1%;"> <!-- Logo -->
                        Afro-Industrial-Space
                    </a>
                    <!--end logo -->


                    <!--begin navbar-collapse -->
                    <div class="navbar-collapse" id="navbarCollapse" sec:authorize="isAuthenticated()">

                        <!--begin navbar-nav -->
                        <ul class="col-md-12 navbar-nav ml-auto" style="margin-left: 27%;margin-top: -4%;">
                            <li class="col-md-3 nav-item" data-toggle="tooltip" data-placement="bottom" title="Go To Home">
                                <span><a class="nav-link" th:href="@{/home}"> &nbsp;<i class="fas fa-home fa-3x" aria-hidden="true" style="color: #91b327;"></i></a></span>
                            </li>

                            <li class="col-md-3 nav-item" data-toggle="tooltip" data-placement="bottom" title="Go To Planner hub">
                                <span><a th:href="@{/planner}">&nbsp; <i class="fas fa-drafting-compass fa-3x" aria-hidden="true" style="color: #91b327;"></i></a></span>
                            </li>

                            <li class="col-md-3 nav-item" data-toggle="tooltip" data-placement="bottom" title="Go To Bid Board">
                                <span><a th:href="@{/bid-board}">&nbsp;<i class="fas fa-store fa-3x" aria-hidden="true" style="color: #91b327;"></i></a></span>
                            </li>
                            <li class="col-md-3 nav-item">
                                <span><i ></i></span>
                            </li>
                        </ul>
                        <!--end navbar-nav -->

                    </div>
                    <!--end navbar-collapse -->

                </nav>

            </div>
            <!--end container -->


        </nav>
        <!--end navbar-fixed-top -->

    </header>
    <!--end header -->

</div>
</body>
<script th:inline="javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
</script>
</html>