@import url("/webjars/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("./metisMenu.min.css");
@import url("./animsition.min.css");
@import url("./lobipanel.min.css");
@import url("./materia_icons.css");
@import url("./themify-icons.css");
@import url("./font-awesome.min.css");
@import url("./pe-icon-7-stroke.min.css");
@import url("./component_ui.css");
@font-face {
  font-family: 'MyWebFont';
  src: url('/webfont/Pe-icon-7-stroke.css'); /* IE9 Compat Modes */
  src: url('/webfonts/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/webfonts/webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/webfonts/webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/webfonts/webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/webfonts/webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}