<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Registration Page </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body background="/img/images.jpeg" style="background-color: #8a6d3b;">

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

            <div class="alert alert-success" th:if= "${msg != null}">
                <span  th:text="${msg}"></span>
            </div>
            &nbsp;

            <h4 style="font-size: 26px;background-color: #ccccccba;margin-left: 47%;">Please Fill out the form. (*) means mandatory</h4>
            &nbsp;


            <form th:action="@{/register}" th:object="${formInput}" method="post" style="background-color: #ccccccba;border-radius:2%;width:165%;margin-left:-23%;">
                <fieldset>

                    <form action="" class="form-horizontal">

                        <div id="generalInput">
                            <div class="form-group">
                                <label class="col-xs-3 control-label">User Type</label>
                                <div class="col-xs-9">
                                    <div class="dropdown">
                                        <select id="userType" class="country">
                                            <option value="1">Planner</option>
                                            <option value="2">Service Provider</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            &nbsp;

                            <div class="form-group">
                                <label for="firstName" class="col-xs-3 control-label">First Name *</label>
                                <div class="col-xs-9">
                                    <input type="text" name="firstName" id="firstName" class="form-control input-lg"
                                           placeholder="First name" required="true" autofocus="true"/>
                                </div>
                            </div>
                            &nbsp;

                            <div class="form-group">
                                <label for="surname" class="col-xs-3 control-label"> surname *</label>
                                <div class="col-xs-9">
                                    <input type="text" name="surname" id="surname" class="form-control input-lg"
                                           placeholder=" Surname" required="true" autofocus="true"/>
                                </div>
                            </div>
                            &nbsp;

                            <div class="form-group">
                                <label for="email" class="col-xs-3 control-label"> email *</label>
                                <div class="col-xs-9">
                                    <input type="email" name="email" id="email" class="form-control input-lg"
                                           placeholder=" email" required="true" autofocus="true"/>
                                </div>
                            </div>
                            &nbsp;

                            <div class="form-group">
                                <label for="username" class="col-xs-3 control-label"> username *</label>
                                <div class="col-xs-9">
                                    <input type="text" name="username" id="username" class="form-control input-lg"
                                           placeholder=" email" required="true" autofocus="true"/>
                                </div>
                            </div>
                            &nbsp;

                            <div class="form-group">
                                <label for="password" class="col-xs-3 control-label"> password *</label>
                                <div class="col-xs-9">
                                    <input type="password" name="password" id="password" class="form-control input-lg"
                                           placeholder=" password" required="true" autofocus="true"/>
                                </div>
                            </div>
                            &nbsp;
                        </div>

                        <div id="plannerUIInputs">
                            <div class="form-group">
                                <label for="pIndustry" class="col-xs-3 control-label">Industry</label>
                                <div class="col-xs-9">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" name="pIndustry" id="pIndustry" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Industry
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;

                                <label for="pMrkSector" class="col-xs-3 control-label">Market Sector *</label>
                                <div class="col-xs-9">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="pMrkSector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Sector
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;

                                <div class="form-group">
                                    <label for="company" class="col-xs-3 control-label"> Company *</label>
                                    <div class="col-xs-9">
                                        <input type="text" name="username" id="company" class="form-control input-lg"
                                               placeholder=" Company name" required="true" autofocus="true"/>
                                    </div>
                                </div>
                                &nbsp;

                                <div class="form-group">
                                    <label for="position" class="col-xs-3 control-label"> Position *</label>
                                    <div class="col-xs-9">
                                        <input type="text" name="position" id="position" class="form-control input-lg"
                                               placeholder="position" required="true" autofocus="true"/>
                                    </div>
                                </div>
                                &nbsp;

                                <div class="form-group">
                                    <label for="pWorkEmail" class="col-xs-3 control-label"> Work Email *</label>
                                    <div class="col-xs-9">
                                        <input type="email" name="pWorkEmail" id="pWorkEmail" class="form-control input-lg"
                                               placeholder="work email" required="true" autofocus="true"/>
                                    </div>
                                </div>
                                &nbsp;

                                <div class="form-group">
                                    <label for="pWorkTell" class="col-xs-3 control-label"> Work Tell *</label>
                                    <div class="col-xs-9">
                                        <input type="number" name="pWorkTell" id="pWorkTell" class="form-control input-lg"
                                               placeholder="work tell" required="true" autofocus="true"/>
                                    </div>
                                </div>
                                &nbsp;

                                <div class="form-group">
                                    <label for="pWorkAddress" class="col-xs-3 control-label"> Work Address *</label>
                                    <div class="col-xs-9">
                                        <input type="text" name="pWorkAddress" id="pWorkAddress" class="form-control input-lg"
                                               placeholder="work address" required="true" autofocus="true"/>
                                    </div>
                                </div>
                                &nbsp;

                            </div>

                            <div id="serviceProviderUIInputsDiv">
                                <label for="spIndustry" class="col-xs-3 control-label">Industry</label>
                                <div class="col-xs-9">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="spIndustry" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Industry
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;

                                <label for="spSector" class="col-xs-3 control-label">Market Sector *</label>
                                <div class="col-xs-9">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="spSector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Sector
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;

                                <div class="form-group">
                                    <label for="spCompanyName" class="col-xs-3 control-label"> Company Name *</label>
                                    <div class="col-xs-9">
                                        <input type="text" name="spCompanyName" id="spCompanyName" class="form-control input-lg"
                                               placeholder="Company Name" required="true" autofocus="true"/>
                                    </div>
                                </div>
                                &nbsp;

                                <div class="form-group">
                                    <label for="spWebSite" class="col-xs-3 control-label"> Company Website *</label>
                                    <div class="col-xs-9">
                                        <input type="text" name="spWebSite" id="spWebSite" class="form-control input-lg"
                                               placeholder="Company website" required="true" autofocus="true"/>
                                    </div>
                                </div>
                                &nbsp;

                                <div class="form-group">
                                    <label for="spEmail" class="col-xs-3 control-label"> Company Email *</label>
                                    <div class="col-xs-9">
                                        <input type="text" name="spEmail" id="spEmail" class="form-control input-lg"
                                               placeholder="company email" required="true" autofocus="true"/>
                                    </div>
                                </div>
                                &nbsp;

                                <div class="form-group">
                                    <label for="spAddress" class="col-xs-3 control-label"> Company Address *</label>
                                    <div class="col-xs-9">
                                        <input type="text" name="spAddress" id="spAddress" class="form-control input-lg"
                                               placeholder="company address" required="true" autofocus="true"/>
                                    </div>
                                </div>
                                &nbsp;

                                <div class="form-group">
                                    <label for="spTell" class="col-xs-3 control-label"> Company Tell *</label>
                                    <div class="col-xs-9">
                                        <input type="number" name="spTell" id="spTell" class="form-control input-lg"
                                               placeholder="company tell" required="true" autofocus="true"/>
                                    </div>
                                </div>
                                &nbsp;

                            </div>

                        </div>
                        &nbsp;

                        <div class="form-group">
                            <div class="btn-group" style="text-align: center;margin-left: 42%;" role="group">
                                <div class="">
                                    <button type="reset" class="btn btn-lg" style="background-color: black;padding: 9px 20px;font-size: 23px;margin-left: -26%;">Clear</button>
                                    &nbsp;
                                    <button type="submit" class="btn btn-lg" style="background-color: black;padding: 9px 20px;font-size: 23px;">Submit</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </fieldset>
            </form>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

    <script th:inline="javascript">

        $( document ).ready(function() {
            hideAllUIDivs ();
            showDefaultUIDivs();

        });

        $("select.country").change(function(){

            var selectedCountry = $(this).children("option:selected").val();

            switch(selectedCountry){
                case "1":
                    $('#serviceProviderUIInputsDiv').css("display","none");
                    $('#generalInput').css("display","none");
                    $('#plannerUIInputs').css("display","block");
                   break;
                case "2":
                    $('#plannerUIInputs').css("display","none");
                    $('#generalInput').css("display","none");
                    $('#serviceProviderUIInputsDiv').css("display","block");
                   break;
                default:
                    $('#serviceProviderUIInputsDiv').css("display","none");
                    $('#plannerUIInputs').css("display","none");
                    $('#generalInput').css("display","block");
            }

        });

        function hideAllUIDivs (){
            $('#serviceProviderUIInputsDiv').css("display","none");
            $('#plannerUIInputs').css("display","none");
            $('#generalInput').css("display","none");
        }

        function showDefaultUIDivs(){
            $('#serviceProviderUIInputsDiv').css("display","none");
            $('#generalInput').css("display","none");
            $('#generalInput').css("display","block");
        }
    </script>

</body>



</html>